body {
	font-family: "Nanum Gothic Coding", "bpdots", "Jetbrains Mono", monospace;
	flex-flow: row;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body > header {
	text-align: center;
}

body > header h1 {
	width: 1.5em;
	margin: 0 auto;
}

body > header p {
	color: gray;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 85vh;
	padding: 15px;
}

#main > nav,
#main > main,
#main > footer {
	padding: 15px;
	margin-right: 1em;
	margin-left: 1em;
}

#main > nav {
	text-align: center;
}

#main > main {
	flex: 1;
	width: 100%;
	max-width: 800px; /* You can adjust the max-width according to your design */
}

#main > footer {
	padding-top: 50px;
}

@media (max-width: 640px) {
	body {
		flex-direction: column;
	}

	h1 {
		font-size: 2.2em;
		text-align: center;
	}

	h2 {
		font-size: 1.4em;
	}

	p,
	ol,
	li {
		font-size: small;
	}

	pre {
		font-size: 12px;
	}

	#main {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	#main > nav,
	#main > main,
	#main > footer {
		margin-right: 0;
		margin-left: 0;
	}
}

hr {
	border: none;
	border-top: 1px solid gray;
	max-width: 25px;
	margin: 35px auto;
}

.muted {
	color: gray;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #131516;
		color: #e8e6e3;
	}

	article img:not([src$=".jpg"]):not([src$=".jpeg"]):not(.opaque) {
		background-color: white;
		border: 5px solid white;
		box-sizing: border-box;
	}
}

/* Homepage */

#intro {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#intro h1 {
	font-size: 10em;
	margin: 0;
	margin-bottom: 0.2em;
}

@media (max-width: 640px) {
	#intro h1 {
		font-size: 4em;
	}
}

/* Typography */

article > header {
	margin-bottom: 2em;
}

article > header time {
	color: gray;
	font-style: "Jetbrains mono", monospace;
	white-space: nowrap;
}

article img,
article video {
	max-width: 100%;
}

article .footnotes {
	font-size: 0.75em;
}

pre {
	background-color: #1c1e1f;
	color: #f8f8f2;
	padding: 15px;
	overflow: auto;
}

p code,
li code {
	color: #818380;
}

p,
ol,
li {
	font-family: "Jetbrains Mono", monospace;
	font-size: large;
}

a,
a:visited {
	color: inherit;
}

kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: normal;
	line-height: 10px;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 black;
	background-color: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
	kbd {
		border-color: white;
		background-color: rgba(255, 255, 255, 0.15);
		box-shadow: inset 0 -1px 0 white;
	}
}

iframe[src*="youtube-nocookie.com"],
iframe.video {
	border: none;
	width: 100%;
	height: 460px;
}

@media (max-width: 640px) {
	iframe[src*="youtube-nocookie.com"],
	iframe.video {
		height: 260px;
	}
}

/* Article list */

.article-list article > header {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 0;
	font-family: "Jetbrains Mono", monospace;
}

.article-list article h3 {
	display: inline-block;
	margin: 0.5em;
	font-family: "Jetbrains Mono", monospace;
}

.article-list article small {
	font-weight: normal;
	color: gray;
	font-family: "Jetbrains Mono", monospace;
}

.alt-links {
	float: right;
	color: gray;
	margin: 30px 0;
}
